In [6]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

## reading ManhattanLotLocs data into lot_df DataFrame

lot_df = pd.DataFrame(pd.read_csv('data/ManhattanLotLocs.txt'))

In [7]:
lot_df.head(10)

   lot_id  Block   Lot             Address  ZipCode   latitude  longitude
0    1_10      1    10  1 GOVERNORS ISLAND    10004  40.688799 -74.018675
1   1_101      1   101    1 LIBERTY ISLAND    10004  40.689920 -74.045337
2   1_201      1   201      1 ELLIS ISLAND    10004  40.698188 -74.041329
3     2_1      2     1     MARGINAL STREET    10004  40.700369 -74.012911
4     2_2      2     2     10 SOUTH STREET    10004  40.700550 -74.011588
5    2_23      2    23            1 PIER 6    10004  40.701171 -74.009243
6     3_1      3     1     10 BATTERY PARK    10280  40.702806 -74.015631
7     3_3      3     3  PETER MINUIT PLAZA    10004  40.701953 -74.013146
8    3_10      3    10      1 SOUTH STREET    10004  40.700918 -74.014444
9  4_7501      4  7501      1 WATER STREET    10004  40.702153 -74.012021

In [8]:
len(lot_df['lot_id'].unique())

42396

In [9]:
lot_df.shape ## all lot_id values are unique

(42396, 7)

In [10]:
lotdf_colindex = lot_df.columns.values
lotdf_colindex

array(['lot_id', 'Block', 'Lot', 'Address', 'ZipCode', 'latitude',
       'longitude'], dtype=object)

In [11]:
len(lot_df['Lot'].unique()) ## lot id's are composed of block_lot

544

In [12]:
lot_id_df = lot_df.set_index(lot_df['lot_id'])
# lot_id_df.head(10)
lot_id_df = lot_id_df.drop('lot_id', 1)
lot_id_df.head()

## lot_id_df is lot_df indexed by lot_ids

        Block  Lot             Address  ZipCode   latitude  longitude
lot_id
1_10        1   10  1 GOVERNORS ISLAND    10004  40.688799 -74.018675
1_101       1  101    1 LIBERTY ISLAND    10004  40.689920 -74.045337
1_201       1  201      1 ELLIS ISLAND    10004  40.698188 -74.041329
2_1         2    1     MARGINAL STREET    10004  40.700369 -74.012911
2_2         2    2     10 SOUTH STREET    10004  40.700550 -74.011588

### Calculate Manhattan Distance for each lot to the each pizza shop in miles

In [14]:
## Load Pizza Map location data (from Ksenia)

pizza_df = pd.DataFrame(pd.read_csv('data/pizza_locations_google.csv'))
# pizza_df.head(10)

pizza_df = pizza_df.set_index('Unnamed: 0', drop=True)

pizza_df_colindex = pizza_df.columns.values
# pizza_df_colindex

pizza_df.head()

,name,lat,lng,vicinity,open_now,rating,price_level,icon,id,photos,place_id,reference,scope,types,borough
Unnamed: 0,,,,,,,,,,,,,,,
0,P&M Classic Pizza and Restaurant,40.826154,-73.946575,"1747 Amsterdam Avenue, New York",False,4.7,1.0,https://maps.gstatic.com/mapfiles/place_api/ic...,31f44d5c640ad7d4737047373e4cf4dbd957f173,"[{'height': 3264, 'html_attributions': ['<a hr...",ChIJqX832Xz2wokRCmDaupc-83M,CmRRAAAAOywdi6JqBTmF-VTLLJweUJOPHva0nHoXCyydOa...,GOOGLE,"['restaurant', 'food', 'point_of_interest', 'e...",NYC
1,New Broadway Pizza Coffee Shop,40.851788,-73.934708,"4312 Broadway, New York",False,4.4,2.0,https://maps.gstatic.com/mapfiles/place_api/ic...,e438e1ef8e28dfd3ebf583260d76259e238b815e,"[{'height': 4176, 'html_attributions': ['<a hr...",ChIJhx0DCh70wokRKr1DakdaiKo,CmRSAAAAriFU3PPuVv34QPIZBsAbrhzJoaURZCUDlUMNc8...,GOOGLE,"['restaurant', 'food', 'point_of_interest', 'e...",NYC
2,Tommy's Grill & Pizzeria,40.833109,-73.945095,"3750 Broadway, New York",True,3.2,1.0,https://maps.gstatic.com/mapfiles/place_api/ic...,2f47167bd8c672824a1123577e60362b74d48a6f,"[{'height': 540, 'html_attributions': ['<a hre...",ChIJrdYyy4X2wokR8AWLcUl4usA,CmRSAAAAeBpQ1xeDg9hXAA94b1hLidMs_z-lBo0uAHhPHr...,GOOGLE,"['meal_delivery', 'meal_takeaway', 'restaurant...",NYC
3,Custom Fuel Pizza,40.808704,-73.952025,"2288 Frederick Douglass Boulevard, New York",False,4.0,1.0,https://maps.gstatic.com/mapfiles/place_api/ic...,ac91f24418e1683a204b1268a0fe3b9c76874a5c,"[{'height': 750, 'html_attributions': ['<a hre...",ChIJ57jXPxP2wokRRrcwDoksk18,CmRRAAAAuG9Cxht8Cz8ge_29uFCFSXhMFpk2VMVpRkrKS3...,GOOGLE,"['bar', 'restaurant', 'food', 'point_of_intere...",NYC
4,Pizza Stop,40.815397,-73.940027,"531 Lenox Avenue, New York",True,4.0,2.0,https://maps.gstatic.com/mapfiles/place_api/ic...,72e47bb5001b6f0879bc827fe268fd0d868e5ddd,"[{'height': 419, 'html_attributions': ['<a hre...",ChIJy6G-JHj2wokRiLxKme5PyBQ,CmRRAAAAjBlEWBE8Mc2YshcH9x8ZVLvAiE-hzRqZ5ZnRGX...,GOOGLE,"['meal_delivery', 'meal_takeaway', 'restaurant...",NYC

In [10]:
## Manhattan Distance Function

## nearest listing in terms of 1) Specified Distance (user input function) 
                            ## 2) Specified Number of Pizza Shops
                            ## 3) Specified Neighborhood

In [11]:
## DataFrame: rows = lots, columns = pizza shops

In [15]:
## Creating a DataFrame to store lattitude-longitude data for Manhattan Lots
lot_indexvector = [str(k) for k in lot_id_df.index.values]
lot_lat_vector = lot_id_df['latitude']
lot_lng_vector = lot_id_df['longitude']
zipcode_vector = lot_id_df['ZipCode']

lot_latlng = pd.DataFrame({'latitude': lot_lat_vector, 'longitude':lot_lng_vector, 'ZipCode':zipcode_vector}, 
                          index=lot_indexvector)

lot_latlng.head()

       ZipCode   latitude  longitude
1_10     10004  40.688799 -74.018675
1_101    10004  40.689920 -74.045337
1_201    10004  40.698188 -74.041329
2_1      10004  40.700369 -74.012911
2_2      10004  40.700550 -74.011588

In [16]:
## Creating a DataFrame to store lattitude-longitude data for Manhattan Pizza Shops
pizza_indexvector = pizza_df.index.values
pizza_lat_vector = pizza_df['lat']
pizza_lng_vector = pizza_df['lng']

pizza_latlng = pd.DataFrame({'latitude': pizza_lat_vector, 'longitude': pizza_lng_vector},
                           index=pizza_indexvector)

pizza_latlng['pizza_id'] = pizza_df['place_id']
pizza_latlng['pizza_id'] = [str(k) for k in pizza_latlng['pizza_id']]
pizza_latlng = pizza_latlng.set_index('pizza_id', drop=True)
pizza_latlng.head()

                              latitude  longitude
pizza_id
ChIJqX832Xz2wokRCmDaupc-83M  40.826154 -73.946575
ChIJhx0DCh70wokRKr1DakdaiKo  40.851788 -73.934708
ChIJrdYyy4X2wokR8AWLcUl4usA  40.833109 -73.945095
ChIJ57jXPxP2wokRRrcwDoksk18  40.808704 -73.952025
ChIJy6G-JHj2wokRiLxKme5PyBQ  40.815397 -73.940027

In [17]:
### Merging pizza_latlng df and lot_latlng df on latlngs to obtain zipcodes 

merged_data = pd.merge(lot_latlng, pizza_latlng, how='outer', on=['latitude', 'longitude'])

## prints a dataframe with average latlong data for each zipcode
merged_data.groupby('ZipCode').mean().head(15)

average_latlng = merged_data.groupby('ZipCode').mean()
average_latlng

          latitude  longitude
ZipCode
10001.0  40.748747 -73.994244
10002.0  40.717181 -73.989813
10003.0  40.731315 -73.988127
10004.0  40.703878 -74.012221
10005.0  40.706392 -74.008407
10006.0  40.708385 -74.013442
10007.0  40.714298 -74.008373
10009.0  40.725521 -73.981106
10010.0  40.739990 -73.985585
10011.0  40.740808 -73.999372
10012.0  40.725370 -73.998184
10013.0  40.719651 -74.003047
10014.0  40.734293 -74.004729
10016.0  40.745668 -73.979505
10017.0  40.753179 -73.973068
10018.0  40.754119 -73.990732
10019.0  40.764982 -73.985825
10020.0  40.758800 -73.979528
10021.0  40.770067 -73.959917
10022.0  40.758336 -73.967292
10023.0  40.777723 -73.980567
10024.0  40.786352 -73.975454
10025.0  40.798233 -73.967357
10026.0  40.803107 -73.952841
10027.0  40.809922 -73.949611
10028.0  40.776155 -73.953189
10029.0  40.792810 -73.943670
10030.0  40.817922 -73.943448
10031.0  40.825513 -73.948060
10032.0  40.837321 -73.940860
10033.0  40.849555 -73.934702
10034.0  40.866860 -73.920901
10035.0  40.801647 -73.937811
10036.0  40.759936 -73.989444
10037.0  40.811973 -73.939667
10038.0  40.709686 -74.003514
10039.0  40.825055 -73.938930
10040.0  40.858092 -73.929707
10044.0  40.758659 -73.952599
10065.0  40.765002 -73.965110
10069.0  40.776643 -73.989390
10075.0  40.773670 -73.957103
10103.0  40.760631 -73.976932
10111.0  40.759531 -73.978587
10112.0  40.758499 -73.978093
10119.0  40.756145 -73.985309
10123.0  40.751430 -73.990775
10128.0  40.781769 -73.951109
10129.0  40.787743 -73.954653
10280.0  40.707860 -74.017249
10281.0  40.713127 -74.016072
10282.0  40.720371 -74.013603
10463.0  40.876279 -73.910642

In [18]:
Central_Harlem = [10026, 10027, 10030, 10037, 10039]
Chelsea_and_Clinton = [10001, 10011, 10018, 10019, 10020, 10036]
East_Harlem =[10029, 10035]
Gramercy_Park_and_Murray_Hill= [10010, 10016, 10017, 10022]
Greenwich_Village_and_Soho = [10012, 10013, 10014]
Lower_Manhattan = [10004, 10005, 10006, 10007, 10038, 10280]
Lower_East_Side = [10002, 10003, 10009]
Upper_East_Side = [10021, 10028, 10044, 10065, 10075, 10128]
Upper_West_Side = [10023, 10024, 10025]
Inwood_and_Washington_Heights = [10031, 10032, 10033, 10034, 10040]

### Manhattan Distance with Haversine Formula

Haversine Formula is used to calculate the distance of two points on a sphere given their latitudes and longitudes

a = sin²(Δφ/2) + cos φ1 ⋅ cos φ2 ⋅ sin²(Δλ/2) 

c = 2 ⋅ asin( √a )

d = R ⋅ c

where, R = 6371 km (3959 miles) (Earth's mean radius), φ is latitude, λ is longitude.

In [19]:
from math import sin
from math import cos
from math import atan2
from math import sqrt
from math import asin
from math import radians


def ManhattanDist(loc_lot, loc_pizza):
    '''Takes as input a lot_id and a pizza_id to calculate the distance between the
    two points with the Haversine formula. Returns a dataframe wtih rows = lot_ids, 
    columns = pizza_ids, data = distance in kms'''
    
    lot_lat = lot_latlng.loc[loc_lot]['latitude']
    lot_lng = lot_latlng.loc[loc_lot]['longitude']
    pizza_lat = pizza_latlng.loc[loc_pizza]['latitude']
    pizza_lng = pizza_latlng.loc[loc_pizza]['longitude']
    
    r = 3959
    
### If Manhattan was aligned with N-S 

#     longitude_a = sin(0)**2 + cos(radians(lot_lat))*cos(radians(lot_lat))*sin(radians((lot_lng-pizza_lng)/2))**2
    
#     latitude_a = (sin(radians(abs((lot_lat-pizza_lat)/2))))**2 + cos(radians(lot_lat))*cos(pizza_lat)*(sin(0))**2
    
#     longitude_c = c = 2*asin(sqrt(longitude_a))
                                                                              
#     latitude_c = 2*asin(sqrt(latitude_a))
                                                                              
#     d_latitude = r*latitude_c
                                                                              
#     d_longitude = r*longitude_c
                                                                              
#     d = abs(d_latitude) + abs(d_longitude)
                                                                              
#     return d 

    a = sin((radians(abs(lot_lat-pizza_lat)))/2)**2 + cos(lot_lat)*cos(pizza_lat)*sin((radians(abs(lot_lng - pizza_lng)/2)))**2

    c = 2*asin(sqrt(a))         
    
    d = r*c
    
    return d
                                                                                       
print (ManhattanDist('2_2', 'ChIJy6G-JHj2wokRiLxKme5PyBQ'))

print (ManhattanDist('3_10', 'ChIJy6G-JHj2wokRiLxKme5PyBQ'))

print (ManhattanDist('7_29', 'ChIJ57jXPxP2wokRRrcwDoksk18'))

print (ManhattanDist('3_1', 'ChIJbWfIg3j2wokRJ22QKbeFRu8'))

9.336840540537995
9.420523715895092
8.343918810496316
9.765088632893365

In [23]:
def list_distance(pizza):
    Pizza_Dict = {}
    for lot in lot_latlng.index:
        Pizza_Dict[str(lot)] = ManhattanDist(lot, pizza)
    return Pizza_Dict 

distance_df = pd.DataFrame()
pizza_dict_to_df = [list_distance(pizza) for pizza in pizza_df['place_id']]
# distance_df.index = pizza_dict_to_df[0].keys()
distance_df = distance_df.append(pizza_dict_to_df)
distance_df['place_id'] = pizza_df['place_id']
distance_df = distance_df.set_index('place_id', drop=True)
distance_df.head()

# 
# distance_df['place_id'] = pizza_df['place_id']
# distance_df.set_index('place')
distance_df.to_csv('lot_to_pizza.csv')

KeyboardInterrupt:

pizza_dict_to_df.head()

In [24]:
from math import sin
from math import cos
from math import atan2
from math import sqrt
from math import asin
from math import radians


def ZipManhattanDist(zip_loc, loc_pizza):
    '''Takes as input a lot_id and a pizza_id to calculate the distance between the
    two points with the Haversine formula. Returns a dataframe wtih rows = lot_ids, 
    columns = pizza_ids, data = distance in kms'''
    
    zip_lat = average_latlng.loc[zip_loc]['latitude']
    zip_lng = average_latlng.loc[zip_loc]['longitude']
    pizza_lat = pizza_latlng.loc[loc_pizza]['latitude']
    pizza_lng = pizza_latlng.loc[loc_pizza]['longitude']
    
    r = 3959
    a = sin((radians(abs(zip_lat-pizza_lat)))/2)**2 + cos(zip_lat)*cos(pizza_lat)*sin((radians(abs(zip_lng - pizza_lng)/2)))**2
    c = 2*asin(sqrt(a))         
    d = r*c
    return d
                                                                                       
print (ZipManhattanDist(10003.0, 'ChIJy6G-JHj2wokRiLxKme5PyBQ'))

6.6881085770670134

In [25]:
## Calculates the pizza place distances to each zipcode's average latlng

def zipcode_dist(pizza):
    Pizza_Dict = {}
    for zipcode in average_latlng.index:
        Pizza_Dict[zipcode] = ZipManhattanDist(zipcode, pizza)
    return Pizza_Dict 

distance_df = pd.DataFrame()
pizza_dict_to_df = [zipcode_dist(pizza) for pizza in pizza_df['place_id']]
# distance_df.index = pizza_dict_to_df[0].keys()
distance_df = distance_df.append(pizza_dict_to_df)
distance_df['place_id'] = pizza_df['place_id']
distance_df = distance_df.set_index('place_id', drop=True)

distance_df
distance_df.to_csv('pizza_zipcode_distance.csv')

In [34]:
distance_df.loc['Averages'] = distance_df.describe().loc['mean'].values
distance_df.to_csv('Zipcode_Avg_Dist.csv')

In [83]:
### Masking the dataframe to get closest distances
def get_closest_pizza(zipcode): 
    
    close_pizzas = distance_df[[zipcode]].apply(lambda x: x <=2)
    pizza_ids = close_pizzas[close_pizzas[zipcode] == True].index.values
    return pizza_ids

zipcode_dict = {}
for zipcode in distance_df.columns:
    zipcode_dict[str(zipcode).replace('.0', '')] = get_closest_pizza(zipcode)
    
zipcode_dict['10003']  ## contains the place_ids for pizza stores within 2 miles of each zipcode's average latitude longitude

array(['ChIJIcJCN1RYwokRHQzLh_iGQwI', 'ChIJCxdJV5hZwokRoBWzilBPDMs',
       'ChIJ_1bEhaxZwokRIqNQV6dunL8', 'ChIJsS_-2rFZwokRWYvlpNNbjmg',
       'ChIJyxltMANZwokRJ6SOzQ1-Mf4', 'ChIJLWzY2wNZwokR_fsvuheHrfU',
       'ChIJ6RV0FqRZwokR4QupKOKzxsE', 'ChIJ5Q-Ra6BZwokRd1gGerJ74s8',
       'ChIJcfHLy5BZwokRafTR9FHrpNw', 'ChIJGck76lRYwokROSMFvkw6UWM',
       'ChIJj5R4TqhZwokRuxkrhtALBKk', 'ChIJ42SVvf9YwokRD35keDIYqj4',
       'ChIJ44UCRgBZwokRPt7jjyziLpY', 'ChIJBWWCLQBZwokRBrGegvRm9qg',
       'ChIJq3gz6plZwokR1WPh3L5frsc', 'ChIJybOUCJlZwokRxiXBjbhX-iA',
       'ChIJBSESh1RYwokRyHcVnrG7JWo', 'ChIJXT6bwpVZwokRvbyM5uKN_G4',
       'ChIJURgSuVJYwokRyUTyhXB9K4c', 'ChIJ84bLVbpZwokRMdylFSXlstU',
       'ChIJt8lZE6ZZwokRB4hefl-4Iek', 'ChIJZzfElKVZwokRIem7YxXHhcw',
       'ChIJJ07QdrdZwokRXdz8zv2_eg4', 'ChIJnQT_1rFZwokRJe2ZG3BCumY',
       'ChIJPxPd_P1YwokRfzLhSiACEoU', 'ChIJB2Ufwq1ZwokR1tfIL39GOUQ',
       'ChIJzxso-AVZwokRw2RNQ91j6L0', 'ChIJNf2Jg7xZwokREAj--Xq1cFY',
       'ChIJFe1v6wVZwokR9IkbpwFaK-w', 'ChIJa1231aNZwokR-5huRmzO0Uw',
       'ChIJw6TmVsdZwokRPKQwKL-ZsII', 'ChIJp-cWE4pZwokRmUI8_BIF8dg',
       'ChIJaeOQ3IhZwokRtTqgShbnjZE', 'ChIJaf7QAJ5ZwokR0I29INQQLXU',
       'ChIJDYX_wRhawokRJQ3THIhqAiw', 'ChIJuXASOB9awokRbPbiM8bVkzo',
       'ChIJE0lIT9VbwokRR55ei5PticM', 'ChIJE0lIT9VbwokR3MKLz3C0WZE',
       'ChIJRY2vrH9ZwokRZnenIJD6Zkc', 'ChIJJ7FgvSJawokR9sNFfG7-46I',
       'ChIJ6xvs94VZwokRnT1D2lX2OTw', 'ChIJ6ffdpJNZwokRmcafdROM5q0',
       'ChIJrXXKn5NZwokR78g0ipCnY60', 'ChIJWxR28ZFZwokRH0dawqLsIug',
       'ChIJSQFeRoxZwokRtd_PeFDrtO0', 'ChIJS2jrXpVZwokRy2NuyvPg1qI',
       'ChIJcxboDYdZwokR_VxNBd3E91A', 'ChIJ8Q2WSpJZwokRQz-bYYgEskM',
       'ChIJPQu92KVZwokRBu1yp-QKqJw', 'ChIJT_Db4p1ZwokRr5qgbjIqrs4',
       'ChIJEWDhF55ZwokRx4atQITM9VU', 'ChIJVRj-T5JZwokRzOHP2oUVyZw',
       'ChIJSfPvkQhZwokR9sC_Sm03_JQ', 'ChIJ1Z3RurNZwokROf19wP13fcs',
       'ChIJXdp0yYhZwokRzfDyqzjSMyk', 'ChIJcdCIGAZZwokR8SG-QkTCvH0',
       'ChIJl3GCkJtZwokRWsOKKFmLGwQ', 'ChIJv-QVW6NZwokRFtWrN4mnkWM',
       'ChIJhZJ3Yq5ZwokR6NAoy-uN7r8'], dtype=object)

In [82]:
pizza_latlng.head()

                              latitude  longitude
pizza_id
ChIJqX832Xz2wokRCmDaupc-83M  40.826154 -73.946575
ChIJhx0DCh70wokRKr1DakdaiKo  40.851788 -73.934708
ChIJrdYyy4X2wokR8AWLcUl4usA  40.833109 -73.945095
ChIJ57jXPxP2wokRRrcwDoksk18  40.808704 -73.952025
ChIJy6G-JHj2wokRiLxKme5PyBQ  40.815397 -73.940027

In [117]:
### Masking the dataframe to get closest distances
def get_closest_zipcode(pizza): 
    min_zip_dict = {}
    close_zipcodes = distance_df.T[[pizza]].apply(lambda x: min(x))
    zipcode_min = close_zipcodes[close_zipcodes[pizza] == True]
    return zipcode_min

pizza_zipcode_dict = {}
for pizza in distance_df.T.columns:
    pizza_zipcode_dict[str(pizza)] = get_closest_zipcode(pizza)
    
pizza_zipcode_dict ## maps each pizza place to its closest zipcode latlng average

closest = {}
for pizza_id in pizza_zipcode_dict.keys():
    closest[pizza_id] = distance_df.T.sort_values(by=pizza_id, ascending=True)[pizza].index[0]
#     print (pizza_id, (distance_df.T.sort_values(by=pizza_id, ascending=True)[pizza]).index[0])

closest

{'ChIJ-4YKz4pYwokR8E_PydQfOCE': 10023.0,
 'ChIJ-VLiKPpYwokR6WqPBMALoAI': 10103.0,
 'ChIJ0wWJG-VYwokRdeKRNMvIHN4': 10022.0,
 'ChIJ1Z3RurNZwokROf19wP13fcs': 10001.0,
 'ChIJ37TJUxdawokRQUvJ1X8oeyo': 10006.0,
 'ChIJ39rtLCb2wokRNA_Dd5ro2Xo': 10025.0,
 'ChIJ3Wu2ooT2wokRztqh0rqMNeY': 10032.0,
 'ChIJ42SVvf9YwokRD35keDIYqj4': 10020.0,
 'ChIJ44UCRgBZwokRPt7jjyziLpY': 10119.0,
 'ChIJ57jXPxP2wokRRrcwDoksk18': 10027.0,
 'ChIJ5Q-Ra6BZwokRd1gGerJ74s8': 10010.0,
 'ChIJ5Qe7Jb5YwokRCxZzLKCneyQ': 10075.0,
 'ChIJ5bwuMFdYwokRliCt_Efmc3U': 10019.0,
 'ChIJ6RV0FqRZwokR4QupKOKzxsE': 10010.0,
 'ChIJ6ffdpJNZwokRmcafdROM5q0': 10014.0,
 'ChIJ6xvs94VZwokRnT1D2lX2OTw': 10012.0,
 'ChIJ84bLVbpZwokRMdylFSXlstU': 10001.0,
 'ChIJ8Q2WSpJZwokRQz-bYYgEskM': 10014.0,
 'ChIJ8dFzuAf2wokRuX_Ly_NBc4A': 10035.0,
 'ChIJ8yF04LhYwokRqO1yxp4iSQA': 10028.0,
 'ChIJ90r0N8BYwokRT_Pu0DkD8Hk': 10021.0,
 'ChIJ94FpoWL2wokRpvuJQ5m5Z5g': 10031.0,
 'ChIJAxR92opYwokR58ToOJcEkyk': 10023.0,
 'ChIJB2Ufwq1ZwokR1tfIL39GOUQ': 10123.0,
 'ChIJBRtDt-dYwokRvhDCIl2jdDg': 10065.0,
 'ChIJBSESh1RYwokRyHcVnrG7JWo': 10036.0,
 'ChIJBWWCLQBZwokRBrGegvRm9qg': 10112.0,
 'ChIJB_U5G-VYwokRO2uwMzMYp30': 10022.0,
 'ChIJCTvSdPhYwokR5PDoOE7VuCc': 10019.0,
 'ChIJCc0Xw1lYwokRfo0_lGxx0RI': 10019.0,
 'ChIJCxdJV5hZwokRoBWzilBPDMs': 10003.0,
 'ChIJD9zk3Bv0wokRow6VpBf34_Q': 10033.0,
 'ChIJDYX_wRhawokRJQ3THIhqAiw': 10007.0,
 'ChIJDw2HC2r2wokRC-WCKP0MbWQ': 10027.0,
 'ChIJE-UdjXL2wokRBW9_cyDBXdA': 10027.0,
 'ChIJE0lIT9VbwokR3MKLz3C0WZE': 10002.0,
 'ChIJE0lIT9VbwokRR55ei5PticM': 10002.0,
 'ChIJE56A3Bv0wokR94vB9-W10Xs': 10033.0,
 'ChIJEWDhF55ZwokRx4atQITM9VU': 10003.0,
 'ChIJExcFhINYwokRb7AXL6ojgZE': 10024.0,
 'ChIJFe1v6wVZwokR9IkbpwFaK-w': 10016.0,
 'ChIJGZh1fblYwokROENWvTgd4hw': 10028.0,
 'ChIJGck76lRYwokROSMFvkw6UWM': 10119.0,
 'ChIJGzolKqFYwokRZVcI1T-3T-M': 10129.0,
 'ChIJH_BcLqVYwokRQcOB4SsoZxY': 10128.0,
 'ChIJI7Mh7_lYwokRp1SvA9CukoE': 10103.0,
 'ChIJIcJCN1RYwokRHQzLh_iGQwI': 10036.0,
 'ChIJJ07QdrdZwokRXdz8zv2_eg4': 10011.0,
 'ChIJJ7FgvSJawokR9sNFfG7-46I': 10038.0,
 'ChIJL3bZBRH2wokRYHnu2wYz604': 10026.0,
 'ChIJLV624MBYwokRrNLSOolshIQ': 10021.0,
 'ChIJLWzY2wNZwokR_fsvuheHrfU': 10017.0,
 'ChIJLbkQ6AH2wokRbA7MAjT8p7I': 10029.0,
 'ChIJM--f3uRYwokR6KcCDi-0zrI': 10022.0,
 'ChIJMZgTiYJYwokR_gtirtEUi2A': 10024.0,
 'ChIJN_hR41ZYwokRB8wicROs-eY': 10019.0,
 'ChIJNf2Jg7xZwokREAj--Xq1cFY': 10011.0,
 'ChIJNx8uAQb2wokRp1Q3xuUYwGw': 10035.0,
 'ChIJO1vw31tYwokRUNixVTBGP7g': 10019.0,
 'ChIJOWVTySJawokRBoW1r7qh-Us': 10280.0,
 'ChIJPQu92KVZwokRBu1yp-QKqJw': 10010.0,
 'ChIJPwPWh6VYwokRb4sccEaBC2w': 10128.0,
 'ChIJPxPd_P1YwokRfzLhSiACEoU': 10112.0,
 'ChIJQVuVB-hYwokRQlAKzyjQBus': 10065.0,
 'ChIJRY2vrH9ZwokRZnenIJD6Zkc': 10009.0,
 'ChIJS2jrXpVZwokRy2NuyvPg1qI': 10014.0,
 'ChIJSQFeRoxZwokRtd_PeFDrtO0': 10012.0,
 'ChIJSfPvkQhZwokR9sC_Sm03_JQ': 10016.0,
 'ChIJTV_tYSP2wokR-LRZM5XeKhw': 10025.0,
 'ChIJT_Db4p1ZwokRr5qgbjIqrs4': 10003.0,
 'ChIJTbZrCLpYwokRbCbC2OgyLz0': 10028.0,
 'ChIJURgSuVJYwokRyUTyhXB9K4c': 10018.0,
 'ChIJV46E4vdYwokRqdDYcJoJUFc': 10019.0,
 'ChIJVRj-T5JZwokRzOHP2oUVyZw': 10014.0,
 'ChIJVTtHRfdYwokRnbMmdpG2Mw0': 10103.0,
 'ChIJWxR28ZFZwokRH0dawqLsIug': 10012.0,
 'ChIJWyfqIx30wokRQ7ZMdZJ3keQ': 10040.0,
 'ChIJWzKtFfdYwokR6bvnMrNyKIo': 10103.0,
 'ChIJX6lW3BBawokR32sV-oVgAKg': 10006.0,
 'ChIJXT6bwpVZwokRvbyM5uKN_G4': 10014.0,
 'ChIJXdp0yYhZwokRzfDyqzjSMyk': 10012.0,
 'ChIJXyZpoWL2wokREb8Ye2F-zus': 10031.0,
 'ChIJZ_v9XVlYwokRV48Bjnvo-dw': 10019.0,
 'ChIJZbt1k6D2wokRfmjsJlDAzh0': 10033.0,
 'ChIJZzfElKVZwokRIem7YxXHhcw': 10001.0,
 'ChIJ_1bEhaxZwokRIqNQV6dunL8': 10018.0,
 'ChIJa1231aNZwokR-5huRmzO0Uw': 10010.0,
 'ChIJa2NWKZz2wokRxN7oFAKksCs': 10032.0,
 'ChIJa6kWrldYwokR3zpE15ww184': 10019.0,
 'ChIJaRoOcyb2wokRUOfG3SZXr9E': 10025.0,
 'ChIJaeOQ3IhZwokRtTqgShbnjZE': 10012.0,
 'ChIJaf7QAJ5ZwokR0I29INQQLXU': 10003.0,
 'ChIJb0QRbPhYwokRSddRM8s2FLI': 10111.0,
 'ChIJbWfIg3j2wokRJ22QKbeFRu8': 10039.0,
 'ChIJc7NJbO9YwokRNHwb58ck4XM': 10065.0,
 'ChIJcdCIGAZZwokR8SG-QkTCvH0': 10016.0,
 'ChIJcfHLy5BZwokRafTR9FHrpNw': 10012.0,
 'ChIJcxboDYdZwokR_VxNBd3E91A': 10002.0,
 'ChIJd-jJW1dYwokRCuwV_eL2ndk': 10019.0,
 'ChIJd1UoNAH2wokRkQ7Bl9Q5lgE': 10029.0,
 'ChIJe4_bTnr2wokRWPwq8n5DKdk': 10030.0,
 'ChIJe4ujVyP2wokRukFP2hyg_co': 10031.0,
 'ChIJe8uSJBz0wokRHGW3APASVC4': 10033.0,
 'ChIJeTGYU7tYwokRjb9tJw4CYeg': 10128.0,
 'ChIJeY6B5OVYwokRr41_ia9Gz78': 10065.0,
 'ChIJfVxAABRawokRDosFWZ1cJEs': 10004.0,
 'ChIJga9juohYwokRPT-8DDa1HFQ': 10024.0,
 'ChIJh3kfNxRawokRvb3F7FlLswk': 10004.0,
 'ChIJhWo5LFdYwokR6XZAl0dyR4c': 10019.0,
 'ChIJhZJ3Yq5ZwokR6NAoy-uN7r8': 10123.0,
 'ChIJhx0DCh70wokRKr1DakdaiKo': 10033.0,
 'ChIJiyAjh3v2wokRK5YBozpXT38': 10031.0,
 'ChIJj5R4TqhZwokRuxkrhtALBKk': 10016.0,
 'ChIJj88NOJz2wokRl_fXWQJcyHY': 10032.0,
 'ChIJl0W8f2b2wokROp9DPvoSypU': 10031.0,
 'ChIJl0kwjOJYwokRjO41zufkr_w': 10017.0,
 'ChIJl3GCkJtZwokRWsOKKFmLGwQ': 10003.0,
 'ChIJl8RU8KdYwokR-qIHZgkqnkU': 10129.0,
 'ChIJm5lcJgP0wokRkYWMkxsbci8': 10040.0,
 'ChIJmR2gR5z2wokRG-9dAStG_V8': 10032.0,
 'ChIJmWQtRsFYwokRmZd5EBwrqkM': 10021.0,
 'ChIJnQT_1rFZwokRJe2ZG3BCumY': 10001.0,
 'ChIJnbALD0xYwokRX9Z_ygcuFPw': 10036.0,
 'ChIJnzUR1VBYwokRLhhrlL3awf4': 10036.0,
 'ChIJp-cWE4pZwokRmUI8_BIF8dg': 10012.0,
 'ChIJq31W-YtYwokRu53h7vplsWE': 10023.0,
 'ChIJq3gz6plZwokR1WPh3L5frsc': 10003.0,
 'ChIJq7ZME4VYwokRtSnXR1qnafg': 10024.0,
 'ChIJqX832Xz2wokRCmDaupc-83M': 10031.0,
 'ChIJqYgZ3YRYwokRrj5Tf7MWmOI': 10024.0,
 'ChIJqfLkvFZYwokRnMKUT5PcfFQ': 10036.0,
 'ChIJr5EPh6lYwokR9OiO_0G0dOk': 10029.0,
 'ChIJrXXKn5NZwokR78g0ipCnY60': 10014.0,
 'ChIJrdYyy4X2wokR8AWLcUl4usA': 10032.0,
 'ChIJs-lvtnH2wokRvcfXQhQcrHA': 10030.0,
 'ChIJs3ai4aD2wokRKigK-52fGi8': 10033.0,
 'ChIJs4RhwyX2wokRZ_3DWlaukaE': 10025.0,
 'ChIJsS_-2rFZwokRWYvlpNNbjmg': 10001.0,
 'ChIJsYDjdFJYwokR7VxAKyzV3MA': 10036.0,
 'ChIJs_iXmaf2wokRBO0CGvrb_4Y': 10033.0,
 'ChIJt8lZE6ZZwokRB4hefl-4Iek': 10010.0,
 'ChIJu3mvh75YwokRFvNXplc35To': 10075.0,
 'ChIJuXASOB9awokRbPbiM8bVkzo': 10007.0,
 'ChIJuaKH_1VYwokR3TwIUoG8mDo': 10020.0,
 'ChIJv-QVW6NZwokRFtWrN4mnkWM': 10011.0,
 'ChIJvXfkSP31wokRJ1Lqb0Nk7qQ': 10035.0,
 'ChIJw6TmVsdZwokRPKQwKL-ZsII': 10011.0,
 'ChIJxWLfC-RYwokRdtnQqGZZOxE': 10022.0,
 'ChIJy6G-JHj2wokRiLxKme5PyBQ': 10037.0,
 'ChIJybOUCJlZwokRxiXBjbhX-iA': 10003.0,
 'ChIJybgaVCf0wokRd_L96eje8cs': 10032.0,
 'ChIJyxltMANZwokRJ6SOzQ1-Mf4': 10017.0,
 'ChIJzxso-AVZwokRw2RNQ91j6L0': 10016.0}