In [1]:
import pandas as pd
import os
import json

In [2]:
#create a function to generate geojson data from dataframe
def df_to_geojson(df, properties, lat='latitude', lon='longitude'):
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in df.iterrows():
        feature = {'type':'Feature',
                   'properties':{},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}
        feature['geometry']['coordinates'] = [row[lon],row[lat]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

In [13]:
#set up feature columns
cols = ['name', 'price_level', 'rating']
geojson = df_to_geojson(df, cols)
#write geojson file 
with open('data.geojson', 'w') as outfile:  
    json.dump(geojson, outfile)

In [7]:
import plotly 
import plotly.plotly as py
from plotly.graph_objs import *
import pandas as pd
import os


plotly.tools.set_credentials_file(username='StellaSun', api_key='gmyMYPK8gH2mJVr1t7Fj')
mapbox_access_token = 'pk.eyJ1Ijoic3N1bjEwIiwiYSI6ImNqYThqNmZjMTAwdDEycXFybTBxNGUxaWcifQ.BL82FAy1_HdKC5DCNrieCg'

In [13]:
#read data
import pandas as pd
df = pd.read_csv(r'pizza_locations_google.csv')
for col in df.columns:
    df[col] = df[col].astype(str)
    
lat = df.lat
lng = df.lng
df['text'] = df['name'] + '<br>' +\
       'Price Range:' + df['price_level'] + '<br>' +\
       'Rating:' + df['rating']

In [23]:
data = Data([
    Scattermapbox(
        lat=lat,
        lon=lng,
        mode='markers',
        marker=Marker(
            size=6,
            color='rgb(84,39,143)',
            opacity=0.7,
        ),
        text=df.text,
        hoverinfo='text'
    )
])

#set up manhattan view
layout = Layout(
    autosize=True,
    hovermode='closest',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=40.75,
            lon=-73.9
        ),
        pitch=0,
        zoom=10
    ),
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='Manhatten')

In [26]:
import plotly.plotly as py
import plotly.graph_objs as graph_objs

mapbox_access_token = 'pk.eyJ1Ijoic3N1bjEwIiwiYSI6ImNqYThqNmZjMTAwdDEycXFybTBxNGUxaWcifQ.BL82FAy1_HdKC5DCNrieCg'

data = graph_objs.Data([
    graph_objs.Scattermapbox(
        lat=['45.5017'],
        lon=['-73.5673'],
        mode='markers',
    )
])
layout = graph_objs.Layout(
    height=600,
    autosize=True,
    hovermode='closest',
    mapbox=dict(
        layers=[
            dict(
                sourcetype = 'geojson',
                source = 'https://raw.githubusercontent.com/plotly/datasets/master/florida-red-data.json',
                type = 'line',
                color = 'rgba(163,22,19,0.8)'
            )
        ],
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=27.8,
            lon=-83
        ),
        pitch=0,
        zoom=5.2,
        style='light'
    ),
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='county-level-choropleths-python')

,Unnamed: 0,1000_1,1000_11,1000_29,1000_49,1000_53,1000_56,1000_57,1000_58,1000_59,...,999_54,999_61,999_62,999_65,999_8,999_9,9_1,9_14,9_29,9_7
0,0,5.299460,5.293918,5.277661,5.271690,5.273765,5.275159,5.275649,5.276313,5.276938,...,5.326776,5.325743,5.330389,5.340873,5.349340,5.348542,9.682520,9.693413,9.660969,9.704042
1,1,7.246445,7.241926,7.226799,7.219958,7.221667,7.222814,7.223189,7.223737,7.224239,...,7.274483,7.272458,7.277518,7.287545,7.296723,7.296081,11.629613,11.640088,11.607589,11.650941
2,2,5.770518,5.766285,5.751682,5.744410,5.745986,5.747054,5.747396,5.747912,5.748382,...,5.798748,5.796480,5.801628,5.811562,5.820899,5.820300,10.154915,10.165271,10.132746,10.176191
3,3,4.071809,4.062988,4.042680,4.039936,4.043255,4.045461,4.046325,4.047358,4.048374,...,4.096748,4.098829,4.102194,4.114041,4.120289,4.118993,8.446168,8.458180,8.425927,8.468192
4,4,4.929750,4.916188,4.889567,4.892043,4.897235,4.900637,4.902044,4.903607,4.905181,...,4.951058,4.957610,4.959142,4.972828,4.975870,4.973851,9.271340,9.285368,9.253544,9.294232